<html>
<body ng-app="alogApp">


	
	<script src="js/angular.js"></script>
	<script src="js/alog.js"></script>

	<div ng-controller="viewGridController">


		<input type="date"
       ng-model="dateStart"
       min="2014-07-30"
       max="{{ dateToday | date:'yyyy-MM-dd' }}"
       ng-change="change()"
       >

		<table>
			<tr >
				<th>
					
				</th>
				<th ng-repeat="d in dates">
					{{ d | date:'yyyy-MM-dd' }}
				</th>
			</tr>
			<tr ng-repeat="activities_grid_inner in activities_grid">
				<th>
					{{ hours[$index] }}
				</th>
				<td ng-repeat="activities_in_a_cell in activities_grid_inner">
					<div ng-repeat="activity in activities_in_a_cell">
						{{ activity.activity }}
					</div>
				</td>
			</tr>
		</table>

		<table>
			<tr ng-repeat="d in data">
				<td>{{ $index+1 }}</td>
				<td>{{ d.date }}</td>
				<td>{{ d.hour }}</td>
				<td>{{ d.id }}</td>
				<td>{{ d.activity }}</td>
			</tr>
		</table>


	</div>

</body>
</html>