<html>
<body ng-app="alogApp">

	
	<script src="js/angular.js"></script>
	<script src="js/alog.js"></script>

	<div ng-controller="viewGridController">

       	<input type="date"
                     ng-model="dateStart"
                     min="{{ datemin | date:'yyyy-MM-dd' }}"
                     max="{{ datemax | date:'yyyy-MM-dd' }}"
                     ng-change="change()"
              >

              <table ng-if="dateStart">
              		<tr>
                                   <td>h/d</td>
              			<th ng-repeat="d in dates">
              				{{ d | date }}
              			</th>
              		</tr>
              		<tr ng-repeat="h in hours">
                                   <th>
                                          {{ h }}
                                   </th>
              			<td ng-repeat="d in dates">
              				<div ng-repeat="a in data | datehour:d:h">
              					{{ a.activity }}
              				</div>
              			</td>
              		</tr>
              </table>

	</div>

</body>
</html>