<html>
<body ng-app="alogApp">


	<div ng-controller="viewGridController">
		<input type=text ng-model="searchText">
		{{searchText}}
		<ol ng-repeat="cust in customers">
			<li>
				{{ cust.id }} - {{ cust.name }}
			</li>
		</ol>
		<table>
			<tr >
				<th>
					hour/dates
				</th>
				<th ng-repeat="d in dates">
					{{ d }}
				</th>
			</tr>
			<tr ng-repeat="h in hours">
				<th>
					{{ h }}
				</th>
				<td ng-repeat="d in dates">
					{{ d }} , {{ h }}
				</td>
			</tr>
		</table>
	</div>

	<script src="js/angular.min.js"></script>
	<script>
	var app = angular.module("alogApp");
	app.controller("viewGridController", function($scope, viewGridFactory) {
		$scope.custo = {"id":1};
		$scope.dates = ["2014-07-30","2014-07-31"];
		$scope.hours= [1,2,3,4,5];
		
		$scope.customers = [
			{"id":1, "name":"montu"},
			{"id":2, "name":"ajay1"}
		];
		
		/*function init(){
			viewGridFactory.getActivities().success(function (data){
				$scope.customers = data;
			});
		}
		init();*/
	});
	
	/*app.factory('viewGridFactory', function($http){
		var factory = {};
		factory.getActivities = function() {
			return $http.get('http://127.0.0.1:12345/activity/activities/2014/07/31/5/rows.json');
		};
		return factory;
	});*/
	</script>
</body>
</html>