<!doctype html>
<html class="no-js" lang="en" ng-app="customerApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://localhost:8888/ALOG/css/foundation.css" />
    <script src="http://localhost:8888/ALOG/js/modernizr.js"></script>
  </head>
  <body>
    
    
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
       
      <li class="name">
        <h1>
          <a href="#">
            Top Bar Title
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
       
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a class="active" href="#">Main Item 1</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li><a href="#" class="">Dropdown Level 1</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 3</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
       
      </ul>
 
       
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 4</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li class="has-dropdown">
                  <a href="#">Has Dropdown, Level 2</a>
                  <ul class="dropdown test">
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                    <li><a href="#">Subdropdown Option</a></li>
                  </ul>
                </li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 5</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Main Item 6</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all →</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
 
 
   
 
   
  <div class="row">
 
    <div class="large-12 columns">
      <h3>Day wise Activity Log</h3>
    </div>

  </div>
 
  <div class="row">
 
    <div class="large-2 columns">
      <div class="panel">
        <h5>Hour</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>2014-08-06</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>2014-08-07</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>2014-08-08</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>2014-08-09</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>2014-08-10</h5>
      </div>
    </div>
 
  </div>






  <div class="row">
 
    <div class="large-2 columns">
      <div class="panel">
        <h5>11</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>Food</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
 
  </div>


  <div class="row">
 
    <div class="large-2 columns">
      <div class="panel">
        <h5>12</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>Work</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
 
  </div>


  <div class="row">
 
    <div class="large-2 columns">
      <div class="panel">
        <h5>13</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>Work</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
 
  </div>





  <div class="row">
 
    <div class="large-2 columns">
      <div class="panel">
        <h5>14</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5>Work</h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
    <div class="large-2 columns">
      <div class="panel">
        <h5></h5>
      </div>
    </div>
 
  </div>










  <div class="row">
 
    <div class="large-2 columns">
      <div class="panel">
        <h5 id="Montu">15</h5>
      </div>
    </div>
    <div class="large-10 columns">
      <div class="panel" 
      ng-controller="customersController"
      ng-init="search=[{name:'manoj'}]">
        <h5>Food/Work</h5>
        <input type=text ng-model="searchText">
        {{ searchText }}
          <div ng-repeat="cust in customers | filter:search">
            {{ cust.name }} {{ cust.id}}
          </div>
      </div>
    </div>
 
  </div>






 
 
 
   
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
    
    
    <script src="http://localhost:8888/ALOG/js/jquery.js"></script>
    <script src="http://localhost:8888/ALOG/js/ALOG.js"></script>
    <script src="http://localhost:8888/ALOG/js/foundation.min.js"></script>
    <script src="http://localhost:8888/ALOG/js/angular.min.js"></script>
    <script>
      $(document).foundation();
      
      var app = angular.module('customerApp', []);

      app.controller("customersController", function($scope) {
        $scope.customers = [
        {"id":1, "name":"manoj"},
        {"id":2, "name":"ajay"}
        ];
      });
    </script>
  </body>
</html>
